scripts/data
scripts/embeddings/
scripts/__pycache__/
scripts/chain/
scripts/normal
scripts/common

dash_app/embeddings
dash_app/__pycache__/
dash_app/bk/
dash_app/static/svg


.ropeproject/
.history/
.vscode/
