# Base HTTP Server
Flask==1.0.2

# Dash newest version (022019):
dash==0.39.0  # The core dash backend
dash-renderer==0.20.0
dash-html-components==0.14.0  # HTML components
dash-core-components==0.44.0  # Supercharged components
dash-table==3.6.0  # Interactive DataTable component (new!)
dash-daq==0.1.0  # DAQ components (newly open-sourced!)

plotly==3.6.1
# for more optional packages with plotly, see
# https://github.com/plotly/plotly.py


# using boostrap
dash-bootstrap-components==0.3.4


# dash graph viz
dash-cytoscape==0.0.4


# notebook
notebook>=5.3
ipywidgets>=7.2

numpy==1.14.5 # 1.14.5
pandas==0.23.4 # 0.20.3
scikit-learn==0.19.1
scipy==1.1.0 # 1.0.1
pillow==4.2.1

# for deploying app
gunicorn==19.9.0
