<!doctype html>
<html>
  <head>
	<title>{{ title }}</title>

    <style>
table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  /* width: 20%; */
}

th {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

img {
    width: 100%;
    height: auto;
}

.fullsize_img {
    max-width: 100%;
    height: auto;
}

    </style>

</head>
<body>
    <div style="display: width:100%;">
        <div style="display: inline-block; width:64%; height:960px; overflow:scroll;">
            {{ embedding_figures }}
        </div>
        <div style="display: inline-block; width:12%;">
            {{ dataset_name }}
        </div>
        <div style="display: inline-block; width:12%;">
            {{ dataset_name }}
        </div>
    </div>
</body>
</html>
