<!doctype html>
<html>
  <head>
	<title>{{ title }}</title>

    <style>
table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  max-width: 100%;
}

td, th {
  border: 1px solid #ddd;
}

tr:nth-child(even){background-color: #f2f2f2;}

/*tr:hover {background-color: #ddd;}*/

th {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

.fullsize_img {
    max-width: 100%;
    height: auto;
}
    
    </style>

  </head>
  <body>
    <div style="display:inline-block; width:20%; overflow:scroll">
        {{ normal_figures }}
    </div>
    <div style="display:inline-block; width:78%; overflow:scroll">
        {{ chain_figures }}
    </div>

    <center>
    <div>
        <h3>Compare KL[Q_chain || Q_normal], running time</h3>
        <img class='fullsize_img' src="../plot_chain/{{dataset_name}}_{{base_perp}}-kl_chain_normal.png" />
    </div>
    <div>
        <h3>Compare KL[Q_base || Q_chain] and KL[Q_base || Q_normal]</h3>
        <img class='fullsize_img' src="../plot_chain/{{dataset_name}}_{{base_perp}}-kl_base_chain.png" />
    </div>
    </center>
  </body>
</html>
